<link rel="stylesheet" href="/css/postfeed.css">

<div id="postfeedContainer">
	<br>
	<div class="row form-group">

		<span class="col-sm-5"></span>
		<input type="" name="search" class="col-sm-3" placeholder="Enter Specific User Id">
		<button type="submit" id="searchbttn" class="col-sm-1">Search</button>
		<button type="submit" id="myHistory" class="col col-sm-2">My History</button>
		<button type="submit" class="col-sm-1" id="allPost">All</button>
		<span class="col-sm-1"></span>
	</div>
    <h2>Your Feed</h2>
	<div class="container-fluid">
		<div id="posts"><% @posts.each do |post| %></div>
	    <div class="row postrow">
	    		<div class="posting col-sm-12"><%= post.post %></div>
	    		<div class="username col-sm-6" >userid: <%= post.username %></div>
            	<div class="timestamp col-sm-6"><%= post.timestamp %></div>
        </div>

		<% end %>

	</div>
</div>


<script>
$(function(){
	var uIdPost = ("#posts").val();
    
	$("#searchbttn").click(function(){
		uIdPost = form.attr(":search");
	)};
                           
	$("#myHistory").click(function(){
		uIdPost = "<%posts.each do |post| %>";
	)};

	$("allPost").click(function(){
		uIdPost = "<%posts.each do |post| %>";
	)};

});

<% @account_names.each_with_index do |name, index| %>                    
    <tr>
      <td><%= name %><td>
      <td><%= @combined_conversions[index] %></td>
      <td><%= @combined_spend[index] %></td>
    </tr>
  <% end %>
// set variable user which is equal to searchbar

</script>